<div class="transaction">

  <div class="left">
    <div class="icon-transaction">
      @if(transaction.methodPayment=="CREDIT"){
      <lucide-icon name="credit-card"></lucide-icon>
      } @else if (transaction.methodPayment=="TICKET") {
      <lucide-icon name="tally-4"></lucide-icon>
      } @else if (transaction.methodPayment == "PIX") {
      <lucide-icon name="badge-dollar-sign"></lucide-icon>
      }
    </div>

    <div class="info-transaction">
      <h4 style="font-weight: 400;">
        {{transaction.title}}
      </h4>

      <p class="date-transaction">
        {{transaction.dateOfPayment}}
      </p>
    </div>
  </div>

  <span class="value-transaction {{transaction.typeTransaction}}">

    <span>
      @if(transaction.typeTransaction=="DEPOSIT"){+} @else if(transaction.typeTransaction=="SPENT"){-}

    </span>
    <span>
      {{transaction.value
      | currency:'BRL'}}
    </span>
  </span>
</div>