// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './app/variables.scss' as *;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: $bg-primary;
  color: $white;
  font: $font-style;

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-style;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* Altera para a cor de fundo do seu INPUT (ex: branco) */
  box-shadow: 0 0 0 1000px $bg-primary inset !important;

  /* Altera para a cor do texto desejada (ex: preto) */
  -webkit-text-fill-color: $gray !important;

  /* Remove a transição da cor de fundo (opcional) */
  transition: none !important;
}

.card {
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 24px;
}

.icon {
  background-color: rgba(0, 0, 0, 1);
  color: $light-gray;
  padding: 10px;
  border-radius: 10.67px;
}

h2 {
  font-size: $text-xlg;
  font-weight: $font-bold;
}

h3 {
  font-size: $text-lg;
  font-weight: $font-bold;
}

h4 {
  font-size: $text-normal;
  font-weight: $font-bold;
}

h5 {
  font-size: $text-sm;
  font-weight: $font-bold;
}

.line {
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
}

.grid-column-1 {
  grid-column: span 1;
}

.grid-column-2 {
  grid-column: span 2;
}
.grid-column-3 {
  grid-column: span 3;
}

.grid-row-2 {
  grid-row: span 2;
}
.grid-row-3 {
  grid-row: span 3;
}
.grid-row-4 {
  grid-row: span 4;
}
.grid-row-5 {
  grid-row: span 5;
}
.grid-row-6 {
  grid-row: span 6;
}
.grid-row-8 {
  grid-row: span 8;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.error-message {
  color: $red;
  font-size: $text-sm;
}
