// colors
$bg-primary: #0f0e11;
$bg-secundary: #141414;

$dark-green: #161716;

$green: #55b02e;
$red: #e93030;
$dark-gray: #1f1f21;
$gray: #71717a;

$light-gray: #b8b8b8;
$white: #ffffff;

// fonts

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

$font-style: 'Mulish', sans-serif;

// sizes
$text-xsm: 12px;
$text-sm: 14px;
$text-normal: 16px;
$text-lg: 18px;
$text-xlg: 20px;
$text-2xl: 24px;
$text-3xl: 36px;

// wigth
$font-light: 200;
$font-medium: 500;
$font-bold: 700;
